{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "plugins": ["@typescript-eslint", "react", "import", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"],
          "moduleDirectory": ["node_modules", "src/", "example/"]
      }
    }
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "semi": [2, "always"],
    "eqeqeq": ["error", "always"],
    "import/no-unresolved": [2, { "caseSensitive": true }],
    "import/order": ["error", { "newlines-between": "always" }],
    "react/jsx-curly-brace-presence": "error",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  }
}
